* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Gill Sans Extrabold", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}
.btn{
    background-color: rgb(33, 232, 166);
    padding: 8px 4px;
    border: none;
    margin: 10px;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 5px;
}
.wash{
    border-radius: 10px;
    background: conic-gradient(violet,indigo,blue,green,yellow,orange,red,violet);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 250px;
    width: 380px;
    font-size: 40px;
    color: white;
    font-weight: 600;
    background-color: rgb(25, 114, 215);

}
.gender{
    margin: 10px;
    font-size: 30px;
}

.Male{
    background: rgb(25, 114, 215);
}
.Female{
   background: rgb(201, 74, 193)
}
.Others{
    background: conic-gradient(violet,indigo,blue,green,yellow,orange,red,violet);
}
